params {
    input = null
    outdir = './results'
    sdrf_file = null
    asap_team_name = 'Alessi'
    asap_lab_name = 'Dario Alessi'
    pi_full_name = 'Dario R. Alessi'
    project_name = ''
    project_description = ''
    dataset_title = ''
    dataset_description = ''
    dataset_name = ''
    pi_email = ''
    contributor_names = ''
    submitter_name = ''
    submitter_email = ''
    asap_grant_id = ''
    other_funding_source = ''
    publication_doi = ''
    publication_pmid = ''
    number_samples = ''
    sample_types = ''
    types_of_samples = ''
    metadata_tables = 'SDRF.tsv'
    dua_version = ''
    pi_orcid = ''
    pi_google_scholar_id = ''
    preprocessing_references = ''
    metadata_version_date = ''
    alternate_dataset_id = ''
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
