annotated-types==0.7.0 ; python_version >= "3.12"
click==8.3.1 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
defusedxml==0.7.1 ; python_version >= "3.12"
numpy==2.4.2 ; python_version >= "3.12"
pandas==3.0.1 ; python_version >= "3.12"
pydantic-core==2.41.5 ; python_version >= "3.12"
pydantic==2.12.5 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pyyaml==6.0.3 ; python_version >= "3.12"
sdrf-pipelines==0.1.0 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version >= "3.12"
typing-inspection==0.4.2 ; python_version >= "3.12"
tzdata==2025.3 ; python_version >= "3.12" and (sys_platform == "win32" or sys_platform == "emscripten")
